@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: hsla(var(--accent-foreground));
  color: white;
}

@layer base {
  :root {
    --color-saturation: 100%;
    --color-lightness: 82.5%;

    --background: 0 0% 100%;
    --foreground: 266 50% 15%;

    --muted: 266 10% 50.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 266 40% 75%;
    --input: 266 32% 86%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 266 50% 15%;
    --primary-hover: 266 50% 25%;
    --primary-foreground: 266 40% 98%;

    --secondary: 266 80% 94%;
    --secondary-foreground: 266.2 47.4% 40.2%;
    --secondary-hover: 266 70% 96%;

    --accent: 266 40% 96.1%;
    --accent-foreground: 266 100% 50%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 266 90.2% 50.1%;

    --radius: 0.5rem;
  }

  .dark {
    --color-saturation: 75%;
    --color-lightness: 18%;
    
    --background: 266 60% 4%;
    --foreground: 266 70% 96%;

    --muted: 266 50% 97%;
    --muted-foreground: 266 40% 60%;

    --accent: 266 70% 13%;
    --accent-foreground: 266 40% 50.1%;

    --popover: 266 70% 4%;
    --popover-foreground: 266 60% 90%;

    --border: 266 50% 30%;
    --input: 216 34% 17%;

    /* card bg */
    --card: 266 60% 8%/0.4;

    /* card text color */
    --card-foreground: 266 70% 95%;

    --primary: 266 70% 30%;
    --primary-hover: 266 70% 40%;
    --primary-foreground: 266 70% 100%;

    --input: 256 50% 50%;

    /* secondary btn bg */
    --secondary: 256 50% 40%;
    --secondary-hover: 256 50% 50%;
    /* secondary btn text color */
    --secondary-foreground: 256 40% 98%;


    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 266 80% 70%;
    --ring-shadow: 266 70% 20%;

    --radius: 0.5rem;
  }
}

.star-arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
