@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: purple;
  color: var(--background);
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 250 60% 4%;
    --foreground: 220 50% 3%;

    --muted: 250 70% 97%;
    --muted-foreground: 250 70% 80%;

    --accent: 250 70% 20%/0.5;

    /* card outline */
    --accent-foreground: 250 30% 20%;

    --popover: 250 70% 10%;
    --popover-foreground: 250 70% 90%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    /* card bg */
    --card: 250 60% 8%/0.4;

    /* card text color */
    --card-foreground: 250 70% 95%;

    --primary: 250 70% 20%;
    --primary-foreground: 250 70% 20%;

    --input: 250 70% 40%;

    /* secondary btn bg */
    --secondary: 250 70% 20%;
    /* secondary btn text color */
    --secondary-foreground: 210 40% 98%;

    --secondary-hover: 250 70% 30%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 250 80% 70%;
    --ring-shadow: 250 70% 20%;

    --radius: 0.5rem;
  }
}
